/* default CSS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    display: block;
}
input, select, textarea {
    outline: none;
}

.disNone {
    display: none;
}
.btn {
    border: 1px solid #d9d9d9;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px #828282;
    background-color: #fff;
    cursor: pointer;
}
/* default CSS */

/* header */
header {
    width: 100%;
    height: 50px;
    background-color: #d9d9d9;
    padding: 0px 10px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px #828282;
}

#btnBox {
    width: 165px;
    display: flex;
    justify-content: space-between;
}
#btnBox > a {
    border-radius: 10px;
    padding: 2px 5px;
    border: none;
    background-color: #fff;
    box-shadow: 1px 1px 2px #828282;
    color: #999;
    cursor: pointer;
    font-size: 16px;
}
#btnBox > #backBtn {
    border-radius: 10px;
    padding: 2px 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    box-shadow: inset 1px 1px 2px #828282;
    color: #333;
}

#btnBox > a.active {
    box-shadow: inset 1px 1px 2px #828282;
    color: #333;
}
/* header */

/* report */
#reportWrap {
    padding: 30px 0px 10px;
    position: relative;
}

#reportHeader {
    height: 40px;
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
}

#searchBox {
    height: 100%;
    padding: 0px 10px;
    background-color: #d9d9d9;
    border-radius: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#searchBox > select {
    width: 200px;
    border: none;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 14px;
    margin-right: 10px;
    box-shadow: inset 1px 1px 2px #828282;
}
#state {
    width: 150px !important;
}

#addBtnBox {
    height: 100%;
    width: 60px;
    background-color: #d9d9d9;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#addBtnBox > input {
    border: none;
    background-color: #fff;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: inset 1px 1px 2px #828282;
    color: #333;
    cursor: pointer;
}

#searchBtn {
    background-color: #fff;
    padding: 4px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 1px 1px 2px #828282;
}
#searchBtn > input {
    border: none;
    font-size: 14px;
    width: 340px;
}

#askCardBox {
    padding: 0px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
}
.askCard {
    width: 500px;
    position: relative;
    box-shadow: 1px 1px 2px #828282;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    margin-right: 10px;
    margin-top: 10px;
}
.askCard > .innerTop
, .askCard > .innerBottom {
    display: flex;
    flex-wrap: wrap;
}
.askCard > .innerTop > .cardRowNum {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 0px 0px 5px 0px;
    background-color: #828282;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    box-shadow: 1px 1px #828282;
}
.askCard > .innerTop > .cardTitle {
    font-weight: bold;
    padding-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    width: 420px;
}
.askCard > .innerTop > .cardState {
    position: absolute;
    top: 5px;
    right: 4px;
    border: 1px solid #d9d9d9;
    font-size: 13px;
    padding: 0px 5px;
    border-radius: 10px;
    color: #333;
    box-shadow: inset 1px 1px 2px #828282;
}
.askCard > .innerTop > .cardState.ING {
    background-color: #b0ffb7;
}
.askCard > .innerTop > .cardState.END {
    background-color: #353f46;
    color: #fff;
}
.askCard > .innerTop > .cardState.IMP {
    background-color: #ffaca1;
}
.askCard > .innerTop > .cardState.NEW {
    background-color: #fdff8e;
}
.askCard > .innerBottom {
    margin-top: 5px;
    align-items: flex-end;
}
.askCard > .innerBottom > .cardCustomer {
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 13px;
}
.askCard > .innerBottom > .cardWriter {
    padding-left: 3px;
    padding-bottom: 3px;
    font-size: 12px;
}
.askCard > .innerBottom > .cardWriteDt {
    position: absolute;
    bottom: 3px;
    right: 4px;
    font-size: 13px;
    padding: 0px 5px;
    color: #333;
}

/* report */

/* report mobile */
@media (max-width: 1026px) {
    .askCard {
        width: 100%;
    }
    .askCard > .innerTop > .cardTitle {
        width: 90%;
    }
}

@media (max-width: 799px) {
    #reportHeader {
      height: 70px;
      align-items: flex-end;
    }
    #searchBox {
        width: 390px;
    }

    #addBtnBox {
        height: 50%;
    }
}

@media (max-width: 558px) {
    .askCard {
        width: 97%;
    }
    .askCard > .innerTop > .cardTitle {
        width: 75%;
    }
}

@media (max-width: 468px) {
    #reportHeader {
      height: 95px;
      align-items: flex-end;
    }
    #searchBox {
        width: 75%;
    }

    #addBtnBox {
        height: 40%;
    }

    #searchBtn {
        width: 100%;
    }
    #searchBtn > input {
        width: 100%;
    }
}
/* report mobile */

/* AddAsk */
#addAskWrap {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 500px;
    height: 575px;
    background-color: #fff;
    z-index: 99999;
    border: 1px solid #d9d9d9;
    box-shadow: 1px 1px 2px #828282;
}
#addAskWrap > #basicBox {
    width: 100%;
}
#addAskWrap > #basicBox > div {
    margin-top: 10px;
}
#addAskWrap > #basicBox > div > .basicTh {
    display: inline-block;
    width: 80px;
    margin-left: 10px;
    text-align: right;
}
#addAskWrap > #basicBox > div > .basicTd {
    display: inline-block;
    padding-left: 6px;
}
#addAskWrap > #basicBox > div > .basicTd > select
, #addAskWrap > #basicBox > div > .basicTd > input {
    border: 1px solid #d9d9d9;
    padding: 2px 3px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px #828282;
}

#addAskWrap > #basicBox > div > .basicTd > #addGwType
, #addAskWrap > #basicBox > div > .basicTd > #addCustomer {
    width: 130px;
}
#addAskWrap > #basicBox > div > .basicTd > #addWriter
, #addAskWrap > #basicBox > div > .basicTd > #addTitle {
    width: 300px;
}
#mainTextBox {
    padding: 0px 10px;
}
#mainTextBox > #mainTextHeader {
    padding-bottom: 1px;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 4px;
}
#mainTextBox > #mainTextContent {
    width: 100%;
    height: 200px;
}
#mainTextBox > #mainTextContent > textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 5px 10px;
    border: none;
    box-shadow: inset 1px 1px 2px #828282;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.attachBox {
    padding: 10px;
}
.attachBox > .attachHeader {
    padding-bottom: 3px;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.attachBox > .attachHeader > .attachBtn {
    border: 1px solid #d9d9d9;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px #828282;
    cursor: pointer;
}
.attachBox > .attachContent {
    border: 1px solid #d9d9d9;
    box-shadow: inset 1px 1px 2px #828282;
    width: 100%;
    height: 100px;
}
#addDialogBtnBox {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
#addDialogBtnBox > input {
    margin: 0px 5px;
}
/* AddAsk */